.box {
    padding: 0.75em;
    border-radius : 0.5em;
    border : 1px solid rgba(221, 221, 221, 0.144);
    height: auto;
    margin-bottom: 1em;
  }
  
  .warning {
    color: rgb(89, 0, 255);
    font-weight: bold;
  }
  
  .danger {
    color: rgb(20, 220, 110);
    font-weight: bold;
  }
  
  .total {
    font-weight: bold;
    font-size: 2em;
  }